<footer>
    <p>debug footer<br>
    Project links:
        <a href="{{ api_metadata.contact.url }}docs">
            Docs |
        </a>
        <a href="{{ api_metadata.contact.url }}redoc">
            ReDoc |
        </a>
        <a href="{{ api_metadata.contact.url }}api/openapi.json">
            ОpenAPI
        </a><br>
    Contact:
        <a href="{{ api_metadata.contact.telegram }}">
            {{ api_metadata.contact.name }}
        </a>
    Licence:
        <a href="{{ api_metadata.license_info.url }}">
            {{ api_metadata.license_info.name }}
        </a><br>
    </p>
</footer>